
.buttonClc {
    // font-size: 32px;
    // border-color: transparent;
    // border-color: transparent;
    &:not(:last-child) {
        
        margin-right: 1rem;
    }
    &:hover {
        color: #fff;
        // border-color: transparent;
    }
}
// .button-clc2 {
//     // font-size: 32px;
//     background: #df1d51;
//     border-color: transparent;
//     &:hover {
//         background: #b81943;
//         border-color: transparent;
//     }
// }

.activeBtn {
    background: #4473bf;
    &:hover {
        background: #2c4c80;
    }
}